@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;0,800;1,400;1,500;1,600&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}

.start-score-container {
  width: 700px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.144);
  border-radius: 20px;
}

.startcard {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.playerscard {
  display: flex;
  gap: 100px;
}

.scorecard {
  display: none;
  gap: 150px;
}

.player {
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

#player1name,
#player2name {
  margin: 0;
  font-size: 1.5em;
}

#player1score,
#player2score {
  margin: 20px 0;
  font-size: 3.5em;
}

.gameboard {
  display: none;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 50px;
}

.box {
  background-color: rgba(0, 0, 0, 0.07);
  width: 100px;
  height: 100px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.5em;
  font-weight: 600;
  font-style: italic;
}

.box:hover {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.144);
  cursor: pointer;
}

.playerscard p {
  font-weight: 700;
  font-size: 1.5em;
}

h1 {
  font-size: 2.8em;
}

.playerscard input {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  padding: 10px;
}

#startgame {
  border: none;
  outline: none;
  background-color: black;
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 8px;
  font-size: 1em;
  font-weight: 600;
}

#startgame:hover {
  zoom: 1.05;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.winner {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 4em;
}

#playagain {
  border: none;
  outline: none;
  background-color: white;
  color: black;
  height: 50px;
  width: 150px;
  font-weight: 600;
  font-size: 0.3em;
  border-radius: 10px;
}

#playagain:hover {
  background-color: black;
  color: white;
}
